# Archivos compilados
*.o
*.a
*.exe
*.dll

# CETUS pide subir el ejecutable dentro de bin/
!bin/
!bin/*.exe
!bin/*.dll
!bin/.gitkeep

# Directorios de compilacion
obj/
build/

# Editores y IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Dependencias
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Otros
.git/
*.log
